<p id="notice"><%= notice %></p>

<h1>Question Lists</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Enabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_lists.each do |question_list| %>
      <tr>
        <td><%= question_list.question %></td>
        <td><%= question_list.answer %></td>
        <td><%= question_list.enabled %></td>
        <td><%= link_to 'Show', question_list %></td>
        <td><%= link_to 'Edit', edit_question_list_path(question_list) %></td>
        <td><%= link_to 'Destroy', question_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question List', new_question_list_path %>
